<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tryIt.mapper.JSW_OrderMapper">

    <resultMap id="orderProductMap" type="com.tryIt.domain.NYJ_OrderProductVO">
        <result column="order_id" property="order_id"></result>
        <result column="product_id" property="product_id"></result>
        <result column="product_num" property="product_num"></result>
        <result column="product_deliver" property="product_deliver"></result>
    </resultMap>

    
    
     <resultMap id="orderMap" type="com.tryIt.domain.JSW_OrderVO">
        <id column="id" property="id"></id>
        <result column="order_user_id" property="order_user_id"></result>
        <result column="order_date" property="order_date"></result>
        <result column="order_address" property="order_address"></result>
        <result column="order_detail_address" property="order_detail_address"></result>
        <result column="order_postalcode" property="order_postalcode"></result>
        <result column="order_receiver" property="order_receiver"></result>
        <result column="order_message" property="order_message"></result>
        <result column="order_success" property="order_success"></result>
        <result column="order_seq" property="order_seq"></result>
        <collection property="orderProductList" resultMap="orderProductMap"></collection>
    </resultMap>
    

    <resultMap id="orderProductListMap" type="com.tryIt.domain.NYJ_OrderProductListVO">
        <result column="id" property = "id"></result>
        <result column="product_id" property = "product_id"></result>
        <result column="product_num" property = "product_num"></result>
        <result column="product_name" property = "product_name"></result>
        <result column="product_price" property = "product_price"></result>
        <result column="product_deliver" property = "product_deliver"></result>
    </resultMap>


	<insert id="insertOrder">
        insert into member_order(order_user_id,order_address,order_detail_address,order_postalcode,order_receiver,order_message,order_seq) values(#{order_user_id},#{order_address},#{order_detail_address},#{order_postalcode},#{order_receiver},#{order_message},#{order_seq})
    </insert>

    <select id="getOrderById" resultType="com.tryIt.domain.JSW_OrderVO">
        select * from member_order where id = #{order_id}
    </select>

    <select id="getMemberOrder" resultType= "com.tryIt.domain.JSW_OrderVO">
        select * from member_order where order_user_id = #{user_id} order by id desc
    </select>

    <select id="getByOrderSeq" resultType= "com.tryIt.domain.JSW_OrderVO">
        select * from member_order where order_seq = #{order_seq}
    </select>

    <insert id="insertOrderProduct">
        insert into order_product(order_id,product_id,product_num)values(#{order_id},#{product_id},#{product_num})
    </insert>

    <select id="getOrderProducts" resultMap="orderProductMap">
        select * from order_product where order_id = #{order_id}
    </select>

    <update id="updateOrder">
        update member_order set order_success = #{order_success} where order_seq = #{order_seq}
    </update>

    <select id="getOrderProductList" resultMap="orderProductListMap">
        select o.product_id, o.product_num,p.product_name, p.product_img, p.product_price, o.product_deliver from order_product o, product p where o.order_id = #{order_id} and p.id = o.product_id
    </select>
    
    

	<select id="getAllOrder" resultType="com.tryIt.domain.JSW_OrderVO">
		select * from member_order
	</select>

	<delete id="deleteOrder">
		delete from member_order where id = #{id}
	</delete>

	<select id="countOrderNum" resultType = "int">
		select count(*) from member_order
	</select>
	
	<delete id="deleteOrderProduct">
    	delete from order_product where order_id = #{order_id}
    </delete>


	<update id = "updateOrderProduct">
		update order_product set product_deliver = #{product_deliver_num} where order_id = #{order_id} and product_id = #{product_id}
	</update>

	<select id="getOrderWithPaging" resultType="com.tryIt.domain.JSW_OrderVO">
        <![CDATA[
            select *
                 from (
                        SELECT @ROWNUM := @ROWNUM + 1 AS rn,m.*
                        from member_order m
                        WHERE (@ROWNUM:=0) = 0 AND @ROWNUM < #{pageNum} * #{amount}
                        order by id desc
                )AS T
            where rn > (#{pageNum} - 1) * #{amount}

            ]]>
    </select>


</mapper>