
        <!-- start footer section -->
        <footer class="no-padding-top classic-footer">

            <div class="footer-service margin-70px-bottom sm-margin-50px-bottom sm-padding-15px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="service-contact padding-30px-all sm-padding-20px-tb md-padding-15px-lr sm-no-padding-lr sm-no-border-right">
                                <span class="d-inline-block font-size36 line-height-30 sm-font-size32 sm-line-height-30 vertical-align-top width-40px"><i class="fas fa-exchange-alt vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top padding-10px-left width-75">
                                    <h5 class="no-margin text-uppercase font-size14">Return &amp; Exchange</h5>
                                    <p class="no-margin line-height-normal">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-contact padding-30px-all sm-padding-20px-tb md-padding-15px-lr sm-no-padding-lr sm-no-border-right">
                                <span class="d-inline-block font-size36 line-height-30 sm-font-size32 sm-line-height-30 vertical-align-top width-40px"><i class="fas fa-gift vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top padding-10px-left width-75">
                                    <h5 class="no-margin text-uppercase font-size14">Receive Gift</h5>
                                    <p class="no-margin line-height-normal">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-contact padding-30px-all sm-padding-20px-tb md-padding-15px-lr sm-no-padding-lr no-border-right">
                                <span class="d-inline-block font-size36 line-height-30 sm-font-size32 sm-line-height-30 vertical-align-top width-40px"><i class="far fa-life-ring vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top padding-10px-left width-75">
                                    <h5 class="no-margin text-uppercase font-size14">Fast Support</h5>
                                    <p class="no-margin line-height-normal">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">
                        <h3>Contact Us</h3>
                        <ul class="list-style margin-10px-bottom">
                            <li>
                                <strong>Address:</strong><span class="padding-5px-left">서울특별시 강남구 대치동 889-41</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="padding-5px-left">02-0000-0000</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="padding-5px-left">tryit@tryit.com</span>
                            </li>
                        </ul>

                        <ul class="list-style-two no-margin-bottom">
                            <li>
                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">

                        <div class="row">
                            <div class="col-md-6 col-6 no-padding-right xs-padding-15px-right">
                                <h3>Quick Links</h3>
                                <ul class="list-style">
                                    <li><a href="/productlist">Our shop</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 no-padding-right xs-padding-15px-right">
                                <h3>My Account</h3>
                                <ul class="list-style">
                                    <li><a href="#!">My Account</a></li>
                                    <li><a href="#!">Order History</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="padding-30px-left sm-no-padding-left">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 margin-35px-bottom sm-no-margin-bottom xs-margin-40px-bottom">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#!" class="butn-style2"><span>Join</span></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-left">
                                        <a href="#!" class="btn bordered text-left xs-margin-5px-left xs-margin-5px-top md-margin-10px-bottom sm-no-margin-bottom">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple font-size24 padding-15px-right"></span>
                                            <span class="media-body">
                                            <span class="d-block font-size12">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#!" class="btn bordered text-left margin-5px-left md-no-margin-left sm-margin-5px-left xs-margin-5px-top">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play font-size24 padding-15px-right"></span>
                                            <span class="media-body">
                                            <span class="d-block font-size12">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom padding-25px-tb margin-70px-top sm-margin-50px-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 xs-margin-15px-bottom">
                            <div class="xs-text-center">
                                <p>&copy; 2020 Smartshop is Powered by Chitrakoot Web</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-right sm-text-center">
                                <li><img src="/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- end footer section -->
