<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- favicon -->
<link rel="shortcut icon" th:src="@{/img/logos/favicon.png}">

<link rel="apple-touch-icon" th:src="@{/img/logos/apple-touch-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="72x72" th:src="@{/img/logos/apple-touch-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="114x114" th:src="@{/img/logos/apple-touch-icon-114x114.png}">

<!-- plugins -->
<link rel="stylesheet" th:href="@{/css/plugins.css}">

<!-- custom css -->
<link th:href="@{/css/styles.css}" rel="stylesheet">


<!-- all js include start -->
<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>

<!-- popper js -->
<script th:src="@{/js/popper.min.js}"></script>

<!-- bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- modernizr js -->
<script th:src="@{/js/modernizr.js}"></script>

<!-- navigation -->
<script th:src="@{/js/nav-menu.js}"></script>

<!-- category navigation -->
<script th:src="@{/js/classie.js}"></script>
<script th:src="@{/js/mlpushmenu.js}"></script>

<!-- tab -->
<script th:src="@{/js/easy.responsive.tabs.js}"></script>

<!-- owl carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>

<!-- jquery.counterup.min -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>

<!-- stellar js -->
<script th:src="@{/js/jquery.stellar.min.js}"></script>

<!-- waypoints js -->
<script th:src="@{/js/waypoints.min.js}"></script>

<!-- ranger js -->
<script th:src="@{/js/ion.rangeSlider.min.js}"></script>

<!-- countdown js -->
<script th:src="@{/js/countdown.js}"></script>

<!-- jquery.magnific-popup js -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>

<!--  clipboard js -->
<script th:src="@{/js/clipboard.min.js}"></script>

<!--  prism js -->
<script th:src="@{/js/prism.js}"></script>

<!-- zoom js -->
<script th:src="@{/js/xzoom.js}"></script>

<!-- hammer js -->
<script th:src="@{/js/jquery.hammer.min.js}"></script>

<!-- setup js -->
<script th:src="@{/js/setup.js}"></script>

<!-- custom scripts -->
<script th:src="@{/js/main.js}"></script>

<!-- all js include end -->

</body>
</html>