

<!DOCTYPE html>
<html>


<head>



    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Business and Admin HTML5 Template" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- custom css -->
    <link href="/css/styles.css" rel="stylesheet">

	<!-- javascript -->
	<script src="/js/kky_login-register.js" type="text/javascript"></script>

</head>

<body>

<!-- start page loading -->

<!-- end page loading -->

<!-- start main-wrapper section -->
<div class="main-wrapper mp-pusher" id="mp-pusher">

    <th:block th:include="newheader"></th:block>
    <html xmlns:th="http://www.thymeleaf.org">
        <!-- start page title section -->


        <!-- start account-orders section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">

                    <!-- start left panel -->
                    <div class="col-lg-4 col-sm-9 sm-margin-40px-bottom">

                        <div class="account-pannel">

                            <div class=" padding-25px-all sm-padding-20px-all">

                                <div class="text-center">
                                    <div class="padding-15px-bottom">
                                        <img class="img-fluid rounded-circle img-thumbnail" src="/img/avatar/t-3.jpg" alt="...">
                                    </div>
                                    <h6 class="font-size18 sm-font-size16 no-margin-bottom" th:text="${session.memberVO.user_name}"></h6>
                                    <small th:text="${session.memberVO.user_nickname}"></small>
                                </div>
                            </div>

                            <div class="list-group">
                                <a class="list-group-items active" th:href="@{/account-orders}"><i class="ti-bag padding-10px-right"></i>Orders<span class="badge badge-pill"></span></a>
                                <a class="list-group-items" th:href="@{/mypage}"><i class="ti-user padding-10px-right"></i>Profile</a>
                                <a class="list-group-items" th:href="@{/member/deleteForm.do}"><i class="ti-user padding-10px-right"></i>Drop</a>
                            </div>
                        </div>

                    </div>
                    <!-- end left panel -->

                    <!-- start right panel -->
                    <div class="col-lg-8">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="no-margin-bottom">My Orders</h4>
                            </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="orders:${orderList}">
                                        <th th:text="'#'+${orders.getOrder_seq()}"></th>
                                        <td th:text="${orders.getOrder_date()}"></td>
                                        <td th:if="${orders.getOrder_success()=='N'}">
                                            <span class="fas fa-circle text-danger small mr-1"></span> Cancelled
                                        </td>
                                        <td th:if="${orders.getOrder_success()=='Y'}">
                                            <span class="fas fa-circle text-success small mr-1"></span> Completed
                                        </td>
                                        <td>
                                            <a th:href="'/order/'+${orders.getId()}" class="text-theme-color">View</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <a class="butn-style2 margin-15px-top" href="#!"><span>Show All Orders</span></a>
                        </div>

                    </div>
                    <!-- end right panel -->
                </div>
            </div>
        </section>
        <!-- end account-orders section -->

        <!-- start footer section -->
        <th:block th:include="include/footer"></th:block>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>