<th:block th:include="newheader"></th:block>
<html xmlns:th="http://www.thymeleaf.org">
        <!-- start revolution slideshow-->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="rev_slider_2" data-version="5.4.5">
                <ul>
                    <!-- slide 1 -->
                    <li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Interior Design">

                        <!-- MAIN IMAGE -->
                        <img src="img/slider/shopnow.jpg" alt="slide1" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]" data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                        </div>

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text alt-font text-theme-color font-weight-600" data-x="30" data-y="center" data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]" data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>

                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]" data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'>
                        </div>

                    </li>
                    <!-- end slide 1 -->

                    <!-- slide 2 -->
                    <li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Interior Design">

                        <!-- MAIN IMAGE -->
                        <img src="img/slider/shopvr.jpg" alt="slide2" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]" data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                            <p class="white-space">AR Glass Prewear</p>
                        </div>

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text alt-font text-theme-color font-weight-600" data-x="30" data-y="center" data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none"><br>Standalone <br>Technology Service
                        </div>
                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]" data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                        </div>
                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]" data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'>
                        </div>
                    </li>
                    <!-- end slide 2 -->

                    <!-- slide 3 -->
                    <li data-fstransition="fade" data-transition="scaledownfrombottom" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Interior Design">

                        <!-- MAIN IMAGE -->
                        <img src="/img/slider/shopshop.jpg" alt="slide3" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[-100,-75,-75,-150]" data-fontsize="[32,30,28,30]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                            <p class="white-space">Best Seller</p>
                        </div>

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text alt-font text-theme-color font-weight-600" data-x="30" data-y="center" data-voffset="[-30,-10,-10,-50]" data-fontsize="[52,48,46,46]" data-lineheight="[76,72,64,58]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">Titanium Glasses
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[30,40,50,45]" data-fontsize="[26,24,22,22]" data-lineheight="[26,72,64,58]" data-width="[600, 500, 500, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                        </div>
                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="35" data-y="center" data-voffset="[95,110,115,120]" data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'>
                        </div>
                    </li>
                    <!-- end slide 3 -->
                </ul>
            </div>
        </div>
        <!-- end revolution slideshow-->

        <!-- start categories section -->
        <section>
            <div class="container">
                <div class="row ">
                    <div class="col-md-6 sm-margin-25px-bottom">
                        <div class="categories-banner rounded">
                            <a href="#!">
                                <div class="offer-img">
                                    <img src="img/offer-banner/sized.jpeg" alt="...">
                                </div>
                                <div class="categories-details">
                                    <h4 class="margin-10px-bottom font-size26 md-font-size24 sm-font-size22 xs-font-size20" >JBL Wireless<br> Brand Offer Glasses</h4>
                                    <h6 class="no-margin-bottom font-weight-500 font-size16 md-font-size15 sm-font-size18 xs-font-size15 text-theme-color">Sale 20% Off</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="categories-banner rounded">
                            <a href="#!">
                                <div class="offer-img">
                                    <img src="img/offer-banner/aod.jpg"  alt="...">
                                </div>
                                <div class="categories-details">
                                    <h4 class="margin-10px-bottom font-size26 md-font-size24 sm-font-size22 xs-font-size20">Apple <br> Smartwatch</h4>
                                    <h6 class="no-margin-bottom font-weight-500 font-size16 md-font-size15 sm-font-size18 xs-font-size15 text-theme-color">Sale 60% Off</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end categories section -->

        <!-- start featured product section -->
        <section class="no-padding-top">
            <div class="container">
                <div class="section-heading">
                    <h3>Featured Products</h3>
                </div>
                <div class="horizontaltab tab-style-three">
                    <ul class="resp-tabs-list hor_1">
                        <li>Best Seller</li>
                        <li>High Rated</li>
                        <li>Latest</li>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div>
                            <div class="product-grid-slide owl-carousel owl-theme">
                                <div class="product-grid" th:each="product:${best10}">
                                    <div class="product-img" style="height:210px; object-fit: contain; display:flex; align-items: center; ">
                                        <a th:href="'/products/'+${product.getId()}"><img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="..."></a>
                                    </div>
                                    <div class="product-description">
                                        <h3><a th:href="'/products/'+${product.getId()}" th:text="${product.getProduct_name()}">Desktop Speakers</a></h3>
                                        <h4 class="price">
                                                        <span class="offer-price" th:text="${#numbers.formatInteger(product.getProduct_price(),3,'COMMA')}+'원'">$29.00</span>
                                                    </h4>
                                    </div>
                                    <div class="product-buttons" >
                                        <ul>
                                            <li><a href="#!" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                            <li><a th:onclick="'insertCart('+${product.getId()}+')'" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                            <li><a href="#!" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-grid-slide owl-carousel owl-theme">
                                <div class="product-grid" th:each="product:${high10}">
                                    <div class="product-img">
                                        <a th:href="'/products/'+${product.getId()}"><img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="..."></a>
                                    </div>
                                    <div class="product-description">
                                        <h3><a th:href="'/products/'+${product.getId()}" th:text="${product.getProduct_name()}">Desktop Speakers</a></h3>
                                        <h4 class="price">
                                            <span class="offer-price" th:text="${product.getProduct_price()}+'원'">$29.00</span>
                                        </h4>
                                    </div>
                                    <div class="product-buttons">
                                        <ul>
                                            <li><a href="#!" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                            <li><a th:onclick="'insertCart('+${product.getId()}+')'" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                            <li><a href="#!" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-grid-slide owl-carousel owl-theme">
                            <div class="product-grid" th:each="product:${recent10}">
                                <div class="product-img">
                                    <a th:href="'/products/'+${product.getId()}"><img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="..."></a>
                                </div>
                                <div class="product-description">
                                    <h3><a th:href="'/products/'+${product.getId()}" th:text="${product.getProduct_name()}">Desktop Speakers</a></h3>
                                    <h4 class="price">
                                        <span class="offer-price" th:text="${product.getProduct_price()}+'원'">$29.00</span>
                                    </h4>
                                </div>
                                <div class="product-buttons">
                                    <ul>
                                        <li><a href="#!" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                        <li><a th:onclick="'insertCart('+${product.getId()}+')'" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                        <li><a href="#!" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>

                </div>

            </div>
            </div>
        </section>
        <!-- end featured product section -->

        <!-- start offer banner -->
        <section class="no-padding">

            <div class="container">

                <div class="bg-img cover-background padding-90px-tb md-padding-70px-tb sm-padding-50px-tb padding-50px-lr sm-padding-25px-lr" data-background="img/slider/shopgo.jpg">

                    <div class="classic margin-30px-bottom sm-margin-40px-bottom">
                        <h5 class="no-margin-bottom font-weight-400 font-size18 sm-font-size16">At discounted price. Hurry up!</h5>
                        <h4 class=" font-size34 md-font-size32 sm-font-size30 margin-20px-bottom sm-margin-15px-bottom">Glass Store</h4>
                    </div>

                    <a href="/productlist" class="butn-style2"><span>Shop Now</span><i class="fas fa-arrow-right margin-10px-left"></i></a>

                </div>
            </div>

        </section>
        <!-- end offer banner -->

        <!-- start staff-picks section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 sm-margin-30px-bottom">
                        <div class="product-items-detail">

                            <div class="section-heading medium">
                                <h5>Best Sellers</h5>
                            </div>
                            <div class="product-items" th:each="product:${best3}">
                                <div class="media">
                                    <div class="thumb-img mr-4 pr-2">
                                        <img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <a href="#!" class="margin-5px-bottom font-weight-600 text-extra-dark-gray" th:text="${product.getProduct_name()}">Pen Drive 8gb</a>
                                        <p class="no-margin">
                                            <span class="display-inline-block text-theme-color font-weight-600" th:text="${#numbers.formatInteger(product.getProduct_price(),3,'COMMA')}+'원'">$09.00</span>
                                        </p>
                                        <div class="font-size12">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-margin-30px-bottom">
                        <div class="product-items-detail">

                            <div class="section-heading medium">
                                <h5>New Arrivals</h5>
                            </div>

                            <div class="product-items" th:each="product:${recent3}">
                                <div class="media">
                                    <div class="thumb-img mr-4 pr-2">
                                        <img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <a href="#!" class="margin-5px-bottom font-weight-600 text-extra-dark-gray" th:text="${product.getProduct_name()}">Pen Drive 8gb</a>
                                        <p class="no-margin">
                                            <span class="display-inline-block text-theme-color font-weight-600" th:text="${#numbers.formatInteger(product.getProduct_price(),3,'COMMA')}+'원'">$09.00</span>
                                        </p>
                                        <div class="font-size12">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="product-items-detail">

                            <div class="section-heading medium">
                                <h5>Top Rated</h5>
                            </div>

                            <div class="product-items" th:each="product:${high3}">
                                <div class="media">
                                    <div class="thumb-img mr-4 pr-2">
                                        <img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <a href="#!" class="margin-5px-bottom font-weight-600 text-extra-dark-gray" th:text="${product.getProduct_name()}">Pen Drive 8gb</a>
                                        <p class="no-margin">
                                            <span class="display-inline-block text-theme-color font-weight-600" th:text="${#numbers.formatInteger(product.getProduct_price(),3,'COMMA')}+'원'">$09.00</span>
                                        </p>
                                        <div class="font-size12">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end staff-picks section -->

        <!-- start extra section -->
        <section class="bg-img cover-background text-center" data-background="img/slider/shopnowbelow.jpg">
            <div class="container padding-30px-tb md-padding-15px-tb xs-no-padding-tb">
                <h3 class="text-white font-size38 md-font-size34 sm-font-size30 xs-font-size28">Flat <strong class="text-warning">10%</strong> Trending Fashionable Glasses <br> Store Available!!</h3>
                <p class="text-white font-size16 sm-font-size15">A contented balance of comfort. <a href="#!" class="text-warning">Quick grab offer</a> now</p>
                <p class="no-margin-bottom">
                </p>
            </div>
        </section>
        <!-- end extra section -->
        
	<th:block th:include="include/footer"></th:block>

    </div>
    <!-- end main-wrapper section -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var message = /*[[${msg}]]*/ 'default';
            if(message != null)
                alert(message);
            /*]]>*/
        </script>
    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->

    <!-- custom scripts -->
    <script src="js/main.js"></script>
    <script src="js/insertCart.js"></script>
    <!-- all js include end -->

</body>

</html>