    <th:block th:include="include/top2"></th:block>
	<th:block th:include="include/header2"></th:block>
        <!-- category mp-menu -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>
        <!-- end category mp-menu -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Login / Register</h1></div>
                <div class="breadcrumbs-info">
                    <ul>
                        <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#!">Login / Register</a></li>
                    </ul>
                </div>

            </div>
        </section>
        <!-- end page title section -->

        <!-- start login section -->
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 sm-margin-30px-bottom">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="no-margin-bottom">Login</h4>
                                <p class="no-margin-bottom">Everything is simple with Login.</p>
                            </div>

                            <form name="login">

                                <div class="row">

                                    <div class="col-sm-12 mb-2">

                                        <div class="form-group">
                                            <label>User ID</label>
                                            <input type="text" class="form-control" name="user_id" placeholder="Your user ID here">
                                        </div>

                                    </div>

                                    <div class="col-sm-12 mb-2">

                                        <div class="form-group">
                                            <label>Password </label>
                                            <input type="password" class="form-control" name="user_pw" placeholder="Your password here">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="login-remember">
                                            <label class="custom-control-label" for="login-remember">Keep me signed in</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left text-sm-right">
                                        <a href="#!" class="m-link-muted">Forgot password?</a>
                                    </div>

                                </div>

                                <button type="button" class="butn-style2 margin-20px-top" onClick="fn_login()">Login</button>

                            </form>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="no-margin-bottom">Register</h4>
                                <p class="no-margin-bottom">There's lots of fun in Register.</p>
                            </div>

                            <form name="register">
								
								<div class="row">

                                    <div class="col-sm mb-2">

                                        <div class="form-group" style="margin: 0">
                                            <label>Your ID</label>
                                            <input type="text" class="form-control" name="user_id" placeholder="Your id here">
                                        </div>
                                        <div style="height: 20px"></div>

                                    </div>

                                </div>
                           
                                <div class="row">

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Your Name</label>
                                            <input type="text" class="form-control" name="user_name" placeholder="Your name here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Your NickName</label>
                                            <input type="text" class="form-control" name="user_nickname" placeholder="Your nickname here">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" name="user_email" placeholder="Your email here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Contact Number</label>
                                            <input type="text" class="form-control" name="user_phonenum" placeholder="+40-123 456 789">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" name="user_pw" placeholder="Your password here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6 mb-2">

                                        <div class="form-group">
                                            <label>Re-Password</label>
                                            <input type="password" class="form-control" name="user_re_pw" placeholder="Your re-password here">
                                        </div>

                                    </div>

                                </div>

                               <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="terms-condition">
                                            <label class="custom-control-label" for="terms-condition">I agree to the <a href="#!" class="text-theme-color">Terms & Conditions</a></label>
                                        </div>
                                    </div>

                                </div>

                                <button type="button" class="butn-style2 margin-20px-top" onClick="fn_register()">Register</button>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end login section -->

		<th:block th:include="include/footer"></th:block>

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->
	<script>
		function fn_register() {
			var register = document.register;
			register.method = "post";
			register.action = "/member/register.do";
			register.submit();
		}
		
		function fn_login() {
			var login = document.login;
			login.method = "post";
			login.action = "/member/login.do"
			login.submit();
		}
	</script>
</body>

</html>