<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Business and Admin HTML5 Template" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template" />

    <!-- title  -->
    <title>Try IT - Sunglasses Online Shopping Mall</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon2.png">
    <link rel="apple-touch-icon" href="/img/logos/try'it_logo-001-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/try'it_logo-001-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/try'it_logo-001-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- custom css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- javascript -->
    <script src="/js/kky_login-register.js" type="text/javascript"></script>
    <script src="/js/kky_adminpage.js" type="text/javascript"></script>
    <script src="js/jquery.min.js"></script>

</head>

<body>

<!-- start page loading -->
<div id="preloader">
    <div class="row loader">
        <div class="loader-icon"></div>
    </div>
</div>
<!-- end page loading -->

<!-- start main-wrapper section -->
<div class="main-wrapper mp-pusher" id="mp-pusher">

    <!-- start header section -->
    <header class="fixed header-light-nav">

        <div class="navbar-header navbar-header-custom">
            <div class="container">

                <div class="row justify-content-between" style="display: flex; align-items: center;">

                    <div class="col-6 col-lg-3">
                        <!-- start logo -->
                        <a href="/" class="navbar-brand logodefault"><img id="logo" src="/img/logos/try'it_logo-001.png" alt="logo" style="width: 200px; max-height: 75px;"></a>
                        <!-- End Logo -->
                    </div>

                    <!-- search area -->
                    <div class="col-12 col-lg-6 order-3 order-lg-2 categories-search" style="margin-left:-15px;">
                        <div class="product-search">
                            <form id="frm" th:name = "searchfrm" action="/productsearch" method="get">
                                <div class="psearch-content">
                                    <div class="product-cat">
                                        <select name="category">
                                            <option value="all" selected="selected">All Categories</option>
                                            <option value="남성선글라스">남성추천</option>
                                            <option value="여성선글라스">여성추천</option>
                                            <option value="키즈선글라스">아동추천</option>
                                        </select>
                                    </div>
                                    <div class="search-wrapper">
                                        <input id="keywordSearch" type="text" name="keyword" class="search-field" placeholder="I'm shopping for...">
                                    </div>
                                    <button type="button" id="btn" onclick="searchbtn()" class="search-submit"><i class="ti-search sm-display-inline-block display-none"></i><span class="sm-display-none md-display-inline-block">Search</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end search area -->

                    <!-- start attribute navigation -->
                    <div class="col-6 col-lg-3 attr-nav text-right order-2 order-lg-3" style="margin-top: 15px; max-width: 20%;">
                        <ul class="text-center">
                            <li class="sm-display-inline-block display-none">
                                <a href="#!" class="search-category">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                            <li th:if="${session.memberVO == null}">
                                <a th:href="@{/login-register}"><i class="ti-user"></i></a>
                            </li>
                            <li th:if="${session.memberVO != null && session.memberVO.role == 'user'}">
                                <a th:href="@{/mypage}"><i class="ti-user"></i></a>
                            </li>
                            <li th:if="${session.memberVO != null && session.memberVO.role == 'admin'}">
                                <a th:href="@{/adminpage}"><i class="ti-user"></i></a>
                            </li>
                            <li class="dropdown sm-margin-20px-right">
                                <a th:href="@{/cart}">
                                    <i class="ti-bag"></i>
                                </a>
                            </li>
                            <li>
                                <img src = "/img/chatbot/chatbot2.png" style = "width:35px; height:35px; margin-top :15px; margin-left:15px;"
                                     onclick="window.open('chatbot', 'pop01', 'top=10, left=10, width=450, height=500, status=no, menubar=no, toolbar=no, resizable=no');">
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="navbar-default bg-light-gray">
            <div class="container">
                <div class="menu_area alt-font">
                    <nav class="navbar navbar-expand-lg header-light-nav no-padding">
                        <div class="navbar-toggler">Menu</div>
                        <!-- menu area -->
                        <ul class="navbar-nav" id="nav" style="display: none;">

                            <li><a href="#!">Account</a>
                                <ul>
                                    <li>
                                        <a th:if="${session.memberVO == null}" th:href="@{/login-register}">Login / Register</a>
                                        <a th:if="${session.memberVO != null}" th:href="@{/member/logout.do}">Logout</a>
                                    </li>
                                    <li th:if="${session.memberVO == null}"><a th:href="@{/member/account-recovery}">Account Recovery</a></li>
                                    <li>
                                    	<a th:if="${session.memberVO != null && session.memberVO.role == 'user'}" th:href="@{/account-orders}">Orders List</a>
                                   	</li>
                                    <li>
                                        <a th:if="${session.memberVO != null && session.memberVO.role == 'user'}" th:href="@{/mypage}">Profile Page</a>
                                        <a th:if="${session.memberVO != null && session.memberVO.role == 'admin'}" th:href="@{/adminpage}">Admin Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/productlist">Product List</a></li>
                            <li><a href="/service-center">Service Center</a></li>
                            <li><a href="/ar">AR 체험하기</a></li>
                        </ul>
                        <!-- end menu area -->
                        <a href="/productlist" class="butn-style2 wide ml-auto sm-display-none display-inline-block"><span>Shop Now</span><i class="fas fa-arrow-right margin-10px-left"></i></a>

                    </nav>
                </div>

            </div>

        </div>
    </header>
    <script>
        function searchbtn(){
            if(document.getElementById('keywordSearch').value == ""){
                alert("적어도 하나의 단어를 입력해주세요!");
            }else {
                document.getElementById('frm').submit();
            }
            return false;
        }
    </script>
</div>