<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Business and Admin HTML5 Template" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- custom css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

<!-- start page loading -->
<div id="preloader">
    <div class="row loader">
        <div class="loader-icon"></div>
    </div>
</div>
<!-- end page loading -->

<!-- start main-wrapper section -->
<div class="main-wrapper mp-pusher" id="mp-pusher">

    <!-- start header section -->
    <header class="fixed header-light-nav">

        <div id="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 col-md-6">
                        <div class="top-bar-info">
                            <ul>
                                <li><a href="tel:01234567890"><i class="ti-mobile"></i><span class="d-none d-md-inline-block padding-10px-left">(+123) 456 7890</span></a></li>
                                <li><a href="mailto:addyour@emailhere"><i class="ti-email"></i><span class="d-none d-md-inline-block padding-10px-left">addyour@emailhere</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9 col-md-6">
                        <ul class="top-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="far fa-user"></i></a>
                                <ul class="dropdown-menu padding-20px-all">
                                    <li class="margin-10px-bottom">
                                        <div class="media align-items-center">
                                            <img class="width-40px rounded-circle mr-3" src="img/avatar/01.png" alt="...">
                                            <div class="media-body">Nancy Miller</div>
                                        </div>

                                    </li>
                                    <li>
                                        <a href="#!" class="dropdown-item">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="dropdown-item">Order List</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/member/logout.do}" class="dropdown-item">Log Out</a>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#!"><i class="far fa-heart"></i></a></li>
                            <li>
                                <select>
                                    <option>English</option>
                                    <option>Deutsch</option>
                                    <option>Italiano</option>
                                </select>
                            </li>
                            <li>
                                <select>
                                    <option>$ USD</option>
                                    <option>€ EUR</option>
                                    <option>£ UKP</option>
                                    <option>¥ JPY</option>
                                </select>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-header navbar-header-custom">
            <div class="container">

                <div class="row justify-content-between">

                    <div class="col-6 col-lg-3">
                        <!-- start logo -->
                        <a href="/" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                        <!-- End Logo -->
                    </div>

                    <!-- search area -->
                    <!-- search area -->
                    <div class="col-12 col-lg-6 order-3 order-lg-2 categories-search" style="margin-left:-40px;">
                        <div class="product-search">
                            <form method="get">
                                <div class="psearch-content">
                                    <div class="product-cat">
                                        <select>
                                            <option value="" selected="selected">All Categories</option>
                                            <option value="activewear">Activewear</option>
                                            <option value="amplifire">Amplifire</option>
                                            <option value="appliances">Appliances</option>
                                            <option value="arc-radio">ARC Radio</option>
                                            <option value="bags">Bags</option>
                                            <option value="beds">Beds</option>
                                            <option value="belts">Belts</option>
                                            <option value="books">Books</option>
                                            <option value="boots">Boots</option>
                                        </select>
                                    </div>
                                    <form th:name = "searchfrm" th:action="@{../product/search}" method="get">
                                    <div class="search-wrapper">
                                        <input type="text" name="keyword" class="search-field" placeholder="I'm shopping for...">
                                    </div>
                                    <button type="submit" class="search-submit"><i class="ti-search sm-display-inline-block display-none"></i><span class="sm-display-none md-display-inline-block">Search</span></button>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end search area -->

                    <!-- start attribute navigation -->
                    <div class="col-6 col-lg-3 attr-nav text-right order-2 order-lg-3">
                        <ul class="text-center">
                            <li class="sm-display-inline-block display-none">
                                <a href="#!" class="search-category">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="display-inline-block">
                                    <i class="ti-heart"></i>
                                    <span class="badge bg-theme">3</span>
                                </a>
                            </li>
                            <li th:if="${session.memberVO != null}">
                                <a th:href="@{/mypage}"><i class="ti-user"></i></a>
                            </li>
                            <li class="dropdown sm-margin-20px-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bag"></i>
                                    <span class="badge bg-theme">3</span>
                                </a>
                                <ul class="dropdown-menu cart-list">
                                    <li>
                                        <a href="#!" class="photo"><img src="img/products/cart-thumbs/cart-thumb-01.jpg" class="cart-thumb" alt="..." /></a>
                                        <h6><a href="#!">Men's Football Boots </a></h6>
                                        <p>2x - <span class="price">$30.00</span></p>
                                    </li>
                                    <li>
                                        <a href="#!" class="photo"><img src="img/products/cart-thumbs/cart-thumb-02.jpg" class="cart-thumb" alt="..." /></a>
                                        <h6><a href="#!">Sun Protection Cap</a></h6>
                                        <p>1x - <span class="price">$10.20</span></p>
                                    </li>
                                    <li>
                                        <a href="#!" class="photo"><img src="img/products/cart-thumbs/cart-thumb-03.jpg" class="cart-thumb" alt="..." /></a>
                                        <h6><a href="#!">Heel Character Shoes</a></h6>
                                        <p>2x - <span class="price">$39.00</span></p>
                                    </li>
                                    <li class="total bg-theme">
                                        <span class="foat-left"><strong>Total</strong>: $79.20</span>
                                        <a href="shop-cart.html" class="butn-style2 small white float-right w-auto"><span>View Cart</span></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="navbar-default bg-light-gray">

            <div class="container">

                <div class="menu_area alt-font">
                    <nav class="navbar navbar-expand-lg header-light-nav no-padding">

                        <div class="navbar-toggler">Menu</div>

                        <!-- menu area -->
                        <ul class="navbar-nav" id="nav" style="display: none;">

                            <li><a href="#!">Home</a>
                                <ul>
                                    <li><a href="home-shop-1.html">Home 01</a></li>
                                    <li><a href="home-shop-2.html">Home 02</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">Pages</a>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contacts</a></li>
                                    <li><a href="help-faq.html">Help / FAQ</a></li>
                                    <li><a href="product-comparison.html">Product Comparison</a></li>
                                    <li><a href="order-tracking.html">Order Tracking</a></li>
                                    <li><a href="order-tracking-detail.html">Order Tracking Detail</a></li>
                                    <li><a href="search-results.html">Search Results</a></li>
                                    <li><a href="404-page.html">404 Not Found</a></li>
                                    <li><a href="comingsoon.html">Coming Soon</a></li>
                                    <li><a href="newsletter.html">Newsletter</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">Account</a>
                                <ul>
                                    <li>
                                        <a th:if="${session.memberVO == null}" th:href="@{/login-register}">Login / Register</a>
                                        <a th:if="${session.memberVO != null}" th:href="@{/member/logout.do}">Logout</a>
                                    </li>
                                    <li><a href="account-password-recovery.html">Password Recovery</a></li>
                                    <li><a href="account-orders.html">Orders List</a></li>
                                    <li><a href="account-wishlist.html">Wishlist</a></li>
                                    <li th:if="${session.memberVO != null}"><a th:href="@{/mypage}">Profile Page</a></li>
                                    <li><a href="account-address.html">Contact / Shipping Address</a></li>
                                    <li><a href="account-tickets.html">My Tickets</a></li>
                                    <li><a href="account-single-ticket.html">Single Ticket</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">Mega Menu</a>
                                <ul class="row megamenu">
                                    <li class="col-lg-3 col-sm-12">
                                        <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr text-uppercase sub-title">Categories 01</span>
                                        <ul>
                                            <li><a href="#!">Internal SSD</a></li>
                                            <li><a href="#!">Memory Cards</a></li>
                                            <li><a href="#!">Home Theatres</a></li>
                                            <li><a href="#!">Unique Routers</a></li>
                                            <li><a href="#!">Security cameras</a></li>
                                            <li><a href="#!">Effective Laptops</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-sm-12">
                                        <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr text-uppercase sub-title">Categories 02</span>
                                        <ul>
                                            <li><a href="#!">Winterwear</a></li>
                                            <li><a href="#!">Sportswear</a></li>
                                            <li><a href="#!">Innerwear</a></li>
                                            <li><a href="#!">Ethnic Wear</a></li>
                                            <li><a href="#!">Cotton Lounge Wear</a></li>
                                            <li><a href="#!">Essential Swimwear</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-sm-12">
                                        <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr text-uppercase sub-title">Categories 03</span>
                                        <ul>
                                            <li><a href="#!">Computer Speakers</a></li>
                                            <li><a href="#!">Compact Headphones</a></li>
                                            <li><a href="#!">Best Choice Printers</a></li>
                                            <li><a href="#!">PC Gaming</a></li>
                                            <li><a href="#!">Power banks</a></li>
                                            <li><a href="#!">Musical Instruments</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-sm-12 sm-display-none">
                                        <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr text-uppercase sub-title">Current Offers</span>

                                        <div class="offer-slider owl-carousel owl-theme">

                                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-01.jpg);">
                                                <div class="offer-text">
                                                    <h6 class="margin-5px-bottom text-white font-weight-500">Men's</h6>
                                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!">Up to 50% Off</a></h4>
                                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                                </div>
                                            </div>

                                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-02.jpg);">
                                                <div class="offer-text">
                                                    <h6 class="margin-5px-bottom text-white font-weight-500">Women's</h6>
                                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!" class="text-white">Up to 70% Off</a></h4>
                                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                                </div>
                                            </div>

                                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-03.jpg);">
                                                <div class="offer-text">
                                                    <h6 class="margin-5px-bottom text-white font-weight-500">Electronics</h6>
                                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!" class="text-white">Mega Sale</a></h4>
                                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                                </div>
                                            </div>

                                        </div>

                                    </li>

                                </ul>
                            </li>
                            <li><a href="#!">Blog</a>
                                <ul>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog List Right Sidebar</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog List Left Sidebar</a></li>
                                    <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">Shop</a>
                                <ul>
                                    <li><a href="shop-categories.html">Shop Categories</a></li>
                                    <li><a href="shop-product-grid.html">Product Grid</a></li>
                                    <li><a href="shop-product-list.html">Product List</a></li>
                                    <li><a href="shop-product-full-three-coulmn.html">Product Three Coulmns</a></li>
                                    <li><a href="shop-product-full-four-coulmn.html">Product Four Coulmns</a></li>
                                    <li><a href="shop-product-detail.html">Product Detail</a></li>
                                    <li><a href="shop-cart.html">Shop Cart</a></li>
                                    <li><a href="shop-checkout-address.html">Shop Checkout</a>
                                        <ul>
                                            <li><a href="shop-checkout-address.html">Address</a></li>
                                            <li><a href="shop-checkout-shipping.html">Shipping</a></li>
                                            <li><a href="shop-checkout-payment.html">Payment</a></li>
                                            <li><a href="shop-checkout-review.html">Review</a></li>
                                            <li><a href="checkout-complete.html">Complete</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#!">Elements</a>
                                <ul>
                                    <li><a href="accordions.html">Aaccordions</a></li>
                                    <li><a href="alerts.html">Alerts</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>
                                    <li><a href="carousel-slider.html">Carousel Slider</a></li>
                                    <li><a href="countdown.html">Countdown</a></li>
                                    <li><a href="forms.html">Forms</a></li>
                                    <li><a href="google-map.html">Google Map</a></li>
                                    <li><a href="progress-bars.html">Progress Bars</a></li>
                                    <li><a href="tables.html">Tables</a></li>
                                    <li><a href="tabs.html">Tabs</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="responsive-videos.html">Responsive-videos</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- end menu area -->

                        <a href="#" class="butn-style2 wide ml-auto sm-display-none display-inline-block"><span>Shop Now</span><i class="fas fa-arrow-right margin-10px-left"></i></a>

                    </nav>
                </div>

            </div>

        </div>

    </header>
</div>