<th:block th:include="newheader"></th:block>
<th:block th:include="/include/resources.html"></th:block>
    <meta http-equiv = "Content-Type" content="text/html;charset=UTF-8">
<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<!-- include summernote-ko-KR -->
<script src="/js/summernote-ko-KR.js"></script>
<title>글쓰기</title>

<script>
function goWrite(frm) {
	var title = frm.notice_title.value;
	var content = frm.notice_content.value;
	
	if (title.trim() == ''){
		alert("제목을 입력해주세요");
		return false;
	}.987
	
	if (content.trim() == ''){
		alert("내용을 입력해주세요");
		return false;
	}
	frm.submit();
}


$(document).ready(function() {
	  $('#summernote').summernote({
 	    	placeholder: 'content',
	        minHeight: 370,
	        maxHeight: null,
	        focus: true, 
	        lang : 'ko-KR'
	  });
	});
</script>
</head>
<body>

  <!-- start service-center section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">

                    <!-- start left panel -->
                    <div class="col-lg-4 col-sm-9 sm-margin-40px-bottom">

                        <div class="account-pannel">

                            <div class="list-group">
                                <a class="list-group-items active" href="account-orders.html"><i class="ti-bag padding-10px-right"></i>공지사항</a>
                                <a class="list-group-items" href="../service-center_faq"><i class="ti-user padding-10px-right"></i>FAQ</a>
                                <a class="list-group-items" href="../service-center_qna"><i class="ti-location-pin padding-10px-right"></i>QnA</a>
                            
                       
                                    
                                </div>
                            

                        </div>

                    </div>
                    <!-- end left panel -->
                    <!-- start right panel -->
                    <div class="col-lg-8">


                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="no-margin-bottom">Notice</h4>
                            </div>

                           <form method="post" action="/modify" th:object="${notice}">
										

                                <div class="row">

                                    <div class="col-sm-12 mb-2">

                                        <div class="form-group">
                                            <label>Title </label>
                                            <input type="text" class="form-control" name="notice_title" th:value="${notice.notice_title}">
                                        </div>

                                    </div> 

                                </div>

 							
 									<textarea id="summernote" name="notice_content" th:text = "${notice.notice_content}"></textarea>
								<br>
								<input class="butn-style2" type="button" value="취소" style="float: right; margin-left:5px;" onclick="location.href='http://localhost:8089/service-center'"/>
								<input class="butn-style2" type="button" value="수정" style="float: right;" onclick="goWrite(this.form)"/>
								
							<input type ="hidden" th:value = "${notice.notice_id}" name = "notice_id">
							<br>
							</form>



                        </div>

                    </div>
                    
                </div>
                </div>
         </section>
                  <th:block th:include="include/footer"></th:block>
         
</body>
</html>




