<th:block th:include="newheader"></th:block>
<html xmlns:th="http://www.thymeleaf.org">
        <!-- category mp-menu -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>
        <!-- end category mp-menu -->

        <!-- start page title section -->
        <!-- end page title section -->

        <!-- start product-list section -->
        <section style="margin-top: -35px;">
            <div class="container">
                <div class="row">

                    <!-- start sidebar panel -->
                    <div class="col-lg-3 col-12 side-bar order-2 order-lg-1">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Categories</h5>
                            </div>
                            <div id="accordion" class="accordion-style2">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">남성 추천 아이웨어</button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#!">일반안경</a></li>
                                                <li><a href="#!">패션안경</a></li>
                                                <li><a href="#!">선글라스</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      여성 추천 아이웨어
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#!">일반안경</a></li>
                                                <li><a href="#!">패션안경</a></li>
                                                <li><a href="#!">선글라스</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        키즈 추천 아이웨어
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#!">일반안경</a></li>
                                                <li><a href="#!">패션안경</a></li>
                                                <li><a href="#!">선글라스</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        안경 관련 상품
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#!">안경케이스</a></li>
                                                <li><a href="#!">세척용액</a></li>
                                                <li><a href="#!">기능성 렌즈</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="offer-slider owl-carousel owl-theme">

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-01.jpg);">
                                <div class="offer-text">
                                    <h6 class="margin-5px-bottom text-white font-weight-500">Men's</h6>
                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!">Up to 50% Off</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                </div>
                            </div>

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-02.jpg);">
                                <div class="offer-text">
                                    <h6 class="margin-5px-bottom text-white font-weight-500">Women's</h6>
                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!" class="text-white">Up to 70% Off</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                </div>
                            </div>

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-03.jpg);">
                                <div class="offer-text">
                                    <h6 class="margin-5px-bottom text-white font-weight-500">Electronics</h6>
                                    <h4 class="font-size36 md-font-size32 sm-font-size30 font-weight-500"><a href="#!" class="text-white">Mega Sale Offer</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style2 small" href="#!"><span>Buy Now</span></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end sidebar panel -->

                    <!-- start right panel section -->
                    <div class="col-lg-9 col-12 padding-30px-left md-padding-15px-lr order-1 order-lg-2 sm-margin-35px-bottom">

                        <div class="row no-gutters align-items-center bg-light-gray rounded padding-15px-all margin-35px-bottom">

                            <div class="col-12 col-md xs-margin-5px-tb xs-text-center"> we have total 30 products now </div>

                            <div class="col-12 col-md-auto">

                                <div class="row justify-content-center">


                                </div>

                            </div>

                        </div>
                        <h4 th:text="${emptyList}"></h4>
                        <h5 th:text="${recommend}"></h5>
                        <div class="row no-gutters product-listing" th:each="product:${productlist}">

                            <div class="col-sm-4">
                                <div class="product-img">
                                    <a href="shop-product-detail.html">
                                        <img th:src="@{${'/img/products/single-product/preview/'+ product.getProduct_img()}}" alt="..."></a>
                                </div>
                            </div>

                            <div class="col-sm-8">

                                <div class="product-list">

                                    <div class="product-description">
                                        <h3><a th:href="'/products/'+${product.getId()}" th:text="${product.getProduct_name()}">Desktop Speakers</a></h3>
                                        <h4 class="price">
                                                        <span class="offer-price" th:text="${#numbers.formatInteger(product.getProduct_price(),3,'COMMA')}+'원'">$29.00</span>
                                                    </h4>
                                        <p th:text="${product.getProduct_info()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>

                                    <div class="product-buttons">
                                        <ul>
                                            <li><a th:onclick="'insertCart('+${product.getId()}+')'" id="insertcart" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                            <li><a href="#!" class="btn-link" title="공유하기"><i class="fas fa-random"></i></a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--
                        <div class="pagination text-small text-uppercase text-extra-dark-gray margin-50px-top sm-margin-35px-top">
                            <ul>
                                <li><a href="#!"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                            </ul>
                        </div>
                        -->
                        <!-- start pagination -->

                                <div class="pagination text-small text-uppercase text-extra-dark-gray margin-50px-top sm-margin-35px-top">
                                    <ul>
                                        <th:block  th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
                                            <li
                                                th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
                                                th:each="pageButton : ${#numbers.sequence(start, end)}" th:class="${pageButton == pageMaker.cri.pageNum} ? 'active'">
                                                <a th:href="@{/productlist?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                                            </li>

                                        </th:block>
                                    </ul>
                                </div>

                               <!--
                                <li><a href="#!"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                                -->
                        <!-- end pagination -->

                    </div>
                    <!-- end right panel section -->

                </div>
            </div>
        </section>
        <!-- end product-list section -->

        <!-- end footer section -->
        <th:block th:include="include/footer"></th:block>
    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <script src="js/insertCart.js"></script>

    <!-- all js include end -->
<form id = "actionForm" action="/productlist" method="get">
    <input type="hidden" name="pageNum" value="${pageMaker.cri.pageNum}">
    <input type="hidden" name="amount" value="${pageMaker.cri.amount}">
</form>
        </body>

</html>