<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="newheader"></th:block>
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Business and Admin HTML5 Template" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- custom css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- start main-wrapper section -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- category mp-menu -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>
        <!-- end category mp-menu -->
        <script>
        function count(type,el_id)  {
        // 결과를 표시할 element
        const resultElement = document.getElementById('result');

        // 현재 화면에 표시된 값
        let number = document.getElementById('result').value;

        // 더하기/빼기
        if(type === 'plus') {
        	number = parseInt(number) + 1;
        }else if(type === 'minus')  {
        	number = parseInt(number) - 1;
        }
        // 결과 출력
            resultElement.innerText = number;
        }
        </script>
        <!-- start cart table section -->
        <section>
            <div class="container">

                <div class="row">

                    <!-- Start Product Table -->
                    <div class="col-12 shop-cart-table" style="margin-top:-50px;">
                        <table class="table shop-cart text-center"  id="cartBody">
                            <colgroup>
                                <col width="100">
                                    <col>
                                        <col width="1">
                                            <col>
                                                <col width="100">
                                                    <col width="1">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th class="first"></th>
                                    <th class="text-left text-uppercase font-weight-500">Product</th>
                                    <th class="text-left text-uppercase font-weight-500">Price</th>
                                    <th class="text-center text-uppercase font-weight-500">Qty</th>
                                    <th class="text-left text-uppercase font-weight-500">Sub Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <h3 th:text="${emptyList}"></h3>
                                <tr th:each="cart:${cartList}">
                                    <td class="product-thumbnail text-left" style="height: 100px; display: flex; justify-content: center; align-items: center;">
                                        <a th:href="'/products/'+${cart.getProduct_id()}"><img th:src="@{${'/img/products/single-product/preview/'+ cart.getProduct_img()}}" alt="..." ></a>
                                    </td>
                                    <td class="text-left">
                                        <a th:href="'/products/'+${cart.getProduct_id()}" th:text="${cart.getProduct_name()}">Men's Football Boots</a>
                                    </td>
                                    <td class="text-left" th:text = "${cart.getProduct_price()}" th:id="'price'+${cart.getId()}">
                                        $15.00
                                    </td>
                                    <td class="product-quantity" >
                                        <input type="text" name="product_num" th:id="'qty'+${cart.getId()}" th:value ="${cart.getProduct_num()}" readonly/>
                                        <span><i class="fas fa-arrow-alt-circle-up up" th:onclick="'upCart('+${cart.getId()}+')'"></i></span>
                                        <span><i class="fas fa-arrow-alt-circle-down down" th:onclick="'downCart('+${cart.getId()}+')'"></i></span>
                                    </td>
                                    <td class="product-subtotal text-left" th:id="'total'+${cart.getId()}" th:text="${cart.getProduct_price()} * ${cart.getProduct_num()}">
                                    </td>
                                    <td class="product-remove text-center">
                                        <a th:href="'/deleteCart/'+${cart.getId()}"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Product Table -->

                    <!-- Start Button Set -->
                    <div class="col-12 border-bottom border-top padding-40px-tb sm-padding-20px-tb sm-margin-20px-bottom xs-margin-15px-bottom">
                        <button class="butn-style2 small bg-color float-right margin-10px-left xs-margin-10px-bottom" id="emptyCart" onclick="emptycart()"><span>Empty Cart</span></button>
                    </div>
                    <!-- End Button Set -->

                    <!-- Start Total Block Set -->

                            <div class="col-lg-6 offset-lg-1 col-md-7 offset-md-0" style="margin-left:600px;">
                                <table class="table cart-sub-total">
                                    <tbody>
                                       <tr class="total">
                                            <th class="text-uppercase text-right no-padding-right xs-no-padding" style="padding-top: 30px;">Order Total</th>
                                           <div th:if="${emptyList}==null">
                                            <td class="text-uppercase text-right no-padding-right xs-no-padding" style="padding-top: 30px;" id="orderTotal" th:text="${#numbers.formatInteger(cartTotal,3,'COMMA')}+'원'">$44.70</td>
                                           </div>

                                       </tr>
                                        <tr>
                                            <td class="no-padding-right xs-no-padding" colspan="2">
                                                <hr class="no-margin-bottom">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="butn-style2 float-right" href="/order-address"><span>Proceed to Checkout</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Total Block Set -->

                </div>

            </div>
        </section>
        <!-- end cart table section -->

        <!-- start footer section -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">
                        <h3>Contact Us</h3>
                        <ul class="list-style margin-10px-bottom">
                            <li>
                                <strong>Address:</strong><span class="padding-5px-left">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="padding-5px-left">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="padding-5px-left">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two no-margin-bottom">
                            <li>
                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-margin-40px-bottom">

                        <div class="row">
                            <div class="col-md-6 col-6 no-padding-right xs-padding-15px-right">
                                <h3>Quick Links</h3>
                                <ul class="list-style">
                                    <li><a href="#!">News</a></li>
                                    <li><a href="#!">History</a></li>
                                    <li><a href="#!">Our shop</a></li>
                                    <li><a href="#!">Secure shopping</a></li>
                                    <li><a href="#!">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 no-padding-right xs-padding-15px-right">
                                <h3>My Account</h3>
                                <ul class="list-style">
                                    <li><a href="#!">My Account</a></li>
                                    <li><a href="#!">Order History</a></li>
                                    <li><a href="#!">Wish List</a></li>
                                    <li><a href="#!">Newsletter</a></li>
                                    <li><a href="#!">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="padding-30px-left sm-no-padding-left">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 margin-35px-bottom sm-no-margin-bottom xs-margin-40px-bottom">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#!" class="butn-style2"><span>Join</span></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-left">
                                        <a href="#!" class="btn bordered text-left xs-margin-5px-left xs-margin-5px-top md-margin-10px-bottom sm-no-margin-bottom">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple font-size24 padding-15px-right"></span>
                                            <span class="media-body">
                                            <span class="d-block font-size12">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#!" class="btn bordered text-left margin-5px-left md-no-margin-left sm-margin-5px-left xs-margin-5px-top">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play font-size24 padding-15px-right"></span>
                                            <span class="media-body">
                                            <span class="d-block font-size12">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom padding-25px-tb margin-70px-top sm-margin-50px-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 xs-margin-15px-bottom">
                            <div class="xs-text-center">
                                <p>&copy; 2020 Smartshop is Powered by Chitrakoot Web</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-right sm-text-center">
                                <li><img src="img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <script src="js/insertCart.js"></script>
    <!-- all js include end -->

</body>

</html>