<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose Business and Admin HTML5 Template" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template" />

    <!-- title  -->
    <title>Try It - cart</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- custom css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

<!-- start page loading -->

<!-- end page loading -->

<!-- start main-wrapper section -->
<div class="main-wrapper mp-pusher" id="mp-pusher">


    <!-- category mp-menu -->
    <div id="mp-menu" class="mp-menu">
        <div class="mp-level">
            <h2>All Categories</h2>
            <ul>
                <li class="mp-has-sub">
                    <a href="#">Devices</a>
                    <div class="mp-level">
                        <h2>Devices</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                            <li class="mp-has-sub">
                                <a href="#">Mobiles Phones</a>
                                <div class="mp-level">
                                    <h2>Mobile Phones</h2>
                                    <a class="mp-back" href="#">back</a>
                                    <ul>
                                        <li><a href="#">Apple Mobile</a></li>
                                        <li><a href="#">OnePlus Mobile</a></li>
                                        <li><a href="#">Lenovo Mobile</a></li>
                                        <li><a href="#">Micromax Mobile</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mp-has-sub">
                                <a href="#">Laptops</a>
                                <div class="mp-level">
                                    <h2>Laptops</h2>
                                    <a class="mp-back" href="#">back</a>
                                    <ul>
                                        <li><a href="#">Thin Laptops</a></li>
                                        <li><a href="#">2-in-1 Laptops</a></li>
                                        <li><a href="#">Gaming Laptops</a></li>
                                        <li><a href="#">Budget Laptops</a></li>
                                        <li><a href="#">Light Laptops</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mp-has-sub">
                                <a href="#">Televisions</a>
                                <div class="mp-level">
                                    <h2>Televisions</h2>
                                    <a class="mp-back" href="#">back</a>
                                    <ul>
                                        <li><a href="#">Smart TV</a></li>
                                        <li><a href="#">Full HD TV</a></li>
                                        <li><a href="#">Android TV</a></li>
                                        <li><a href="#">4K TV</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mp-has-sub">
                    <a href="#">Beauty &amp; Health</a>
                    <div class="mp-level">
                        <h2>Beauty &amp; Health</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                            <li><a href="#">Grooming</a></li>
                            <li><a href="#">Luxury Beauty</a></li>
                            <li><a href="#">Make-up</a></li>
                            <li><a href="#">Personal Care</a></li>
                            <li><a href="#">Nutrition Care</a></li>
                            <li><a href="#">Health Care</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mp-has-sub">
                    <a href="#">Store</a>
                    <div class="mp-level">
                        <h2>Store</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                            <li class="mp-has-sub">
                                <a class="icon icon-t-shirt" href="#">Clothes</a>
                                <div class="mp-level">
                                    <h2 class="icon icon-t-shirt">Clothes</h2>
                                    <a class="mp-back" href="#">back</a>
                                    <ul>
                                        <li>
                                            <a class="icon icon-female" href="#">Women's Clothing</a>
                                        </li>
                                        <li>
                                            <a class="icon icon-male" href="#">Men's Clothing</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="icon icon-diamond" href="#">Watches</a>
                            </li>
                            <li>
                                <a class="icon icon-music" href="#">Shoes</a>
                            </li>
                            <li>
                                <a class="icon icon-food" href="#">Jewellery</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Books &amp; Audible</a></li>
                <li><a href="#">Movies &amp; Games</a></li>
            </ul>

        </div>
    </div>
    <!-- end category mp-menu -->
    <th:block th:include="newheader"></th:block>

    <!-- start page title section -->

    <!-- end page title section -->

    <!-- start checkout section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="process-steps margin-50px-bottom sm-margin-35px-bottom">
                        <a class="step"><i class="ti-direction-alt"></i><h4 class="step-title">1. Address</h4></a>
                        <a class="step active"><i class="ti-check-box"></i><h4 class="step-title">2. Review</h4></a>
                        <a class="step"><i class="ti-wallet"></i><h4 class="step-title">3. Payment</h4></a>
                    </div>
                </div>


                    <!-- start left pannel section -->
                    <div class="col-lg-9 col-md-12 padding-40px-right sm-padding-15px-lr sm-margin-35px-bottom">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="no-margin-bottom">Review Your Order</h4>
                            </div>

                            <div class="shop-cart-table">
                                <table class="table shop-cart text-center no-margin-bottom">
                                    <colgroup>
                                        <col width="100">
                                            <col>
                                                <col width="1">
                                                    <col>
                                    </colgroup>

                                    <thead>
                                        <tr>
                                            <th class="first"></th>
                                            <th class="text-left text-uppercase font-weight-500">Product</th>
                                            <th class="text-left text-uppercase font-weight-500">Product Quantity</th>
                                            <th class="text-center text-uppercase font-weight-500">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cart:${cartList}">
                                            <td class="product-thumbnail text-left">
                                                <a th:href="'/products/'+${cart.getProduct_id()}"><img th:src="@{${'/img/products/single-product/preview/'+ cart.getProduct_img()}}" alt="..." ></a>
                                            </td>
                                            <td class="text-left">
                                                <a th:href="'/products/'+${cart.getProduct_id()}" th:text="${cart.getProduct_name()}">Men's Football Boots</a>
                                                <span class="text-uppercase display-block" th:text="${#numbers.formatInteger(cart.getProduct_price(),3,'COMMA')}+'원'">SKU: 290397</span>
                                            </td>
                                            <td class="product-subtotal text-left" th:text ="${cart.getProduct_num()}"></td>
                                            <td class="product-remove text-center" th:with="total=${cart.getProduct_price()*cart.getProduct_num()}"  th:text="${#numbers.formatInteger(total,3,'COMMA')}+'원'">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="buttons-set">
                                <a href="shop-checkout-payment.html" class="butn-style2 wide"><i class="fas fa-arrow-left margin-5px-right"></i> Back</a>
                                <a href="/order-payment" class="butn-style2 wide">Complete <i class="fas fa-arrow-right margin-5px-left"></i></a>
                            </div>

                        </div>

                    </div>
                    <!-- end left pannel section -->

                    <!-- start right pannel section -->
                    <div class="col-lg-3 col-12 side-bar">

                        <div class="widget">

                            <div class="widget-title">
                                <h5>Order Summary</h5>
                            </div>

                            <table class="table classic">
                                <tbody>
                                <tr>
                                    <th>Cart Subtotal:</th>
                                    <td class="text-gray-dark" th:text="${#numbers.formatInteger(cartTotal,3,'COMMA')}+'원'">$2,548.50</td>

                                </tr>
                                <tr>
                                    <th>Estimated tax:</th>
                                    <td class="text-gray-dark">0원</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td class="text-lg text-gray-dark" th:text="${#numbers.formatInteger(cartTotal,3,'COMMA')}+'원'">$2,584.72</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- end right pannel section -->

                </div>
            </div>
        </section>
        <!-- end checkout section -->

        <!-- start footer section -->
        <th:block th:include="include/footer"></th:block>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- category navigation -->
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- ranger js -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>